.main-content .navbar-top {
    background-color: white;
}
.navbar{
    padding: 5rem 4rem;
}

.layout-top {
    padding-top: 8rem !important;
}
.nav-link {

    color: white;
}
.nav-link  active {
    color: white;
}

.btn-icon-only.btn {
    width: 2rem;
    height: 2rem;
    border-color: darkblue;
}
