.main-content .navbar-top {
    background-color: white;
}
.bg-dark {
    background-color: #43425D !important;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}
body{
    background-color: #F3F3F3;
}
.navbar{
    padding: 1rem 1rem;
}

.layout-top {
    padding-top: 8rem !important;
}
.nav-link {
    color: white;
}


.btn-icon-only.btn {
    width: 2rem;
    height: 2rem;
    padding: 0;
    border-color: darkblue;
}
.box_container {
    background-color: white;
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;
}
.col{
    padding: 0px 0px;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: lightblue;
}
.btn-sm, .btn-group-sm>.btn {
    padding: 0.3rem 0.7rem;
    margin-right: 15px;
}
/*new stock start*/
.common{
    width:350px;


}
.fa-link {

    /* border: 2px solid #eeeeee ;
     margin-top: 20px;
     font-size: 54px;
     color: #eeeeee;*/
    font-size: 54px;
    margin-top: 20px;
    color: #eee;
}
.more{
    color: blue;
    font-size: 30px;
    margin-top: 30px;
}
/*new stock end*/
.action{
    font-size: 30px;
}
/*new invoice start*/
.invoice {
    margin-top: 36px;
    margin-left: 40px;
}
.invoicebutton {
    margin-left: 36px;
}
/*new invoice end*/
/*shipping start*/
.invoice_shipping{
    margin-top:40px;
}
/*shipping start*/

/*new sales order start*/
.total{
    color:#0368FF;
}
.sales_button{
    margin-left:20px;
    margin-top:20px;
}
.fa-plus{
    color:#0368FF;
    font-size: 20px;
}
.add_cont a{
    margin-left:10px;
    color:#0368FF;
}
/*new sales order end*/
/*new purchase start*/
.deliver{
    padding:20px;
    font-family: Open Sans, sans-serif;
}
.fa-dot-circle{
    margin-left: 157px;
    color:#0368FF;
}

.text{
    margin-left: 5px;
    color:black;
    font-weight:400
}
.plus_text{
    padding:5px;
    margin-left: 7px;
}
.com-right{
    padding-right: 1px;
}
.com-left{
    padding-left: 18px;

}
.com{
    padding-left: 0px;
    padding-right: 0px;
}
/*!*new item start*!*/
/*.fa-plus-square{*/
/*    font-size: 30px;*/
/*    margin-top: 35px;*/
/*}*/
/*.fa-chevron-down {*/
/*    margin-left:190px;*/
/*}*/
/*.brand{*/
/*    margin-left:210px;*/
/*}*/
/*new purchase start*/
.customer{
    margin-left: 30px;
    padding: 15px;
    /*color:#0368FF;*/
}
.customer_title, .organization_title,.vendor_title {
    margin-left: 10px;
    /*color:#0368FF;*/
}
.radio{
    background-color:#0368FF;
}
.save_button{
    background-color: #0368FF;
    color:#fff;
}
.save_button:hover{
    background-color: #ffffff;
    color:#000000;
}
.cancel_button{
    background-color: #fff;
    color:black;
    /*margin-top: 20px;*/
}
.cancel_button:hover{
    background-color: #0368FF;
    color:#fff;
}
.search1{
    margin-left:45px;
    background-color: #A1A1A1;
    color:#ffffff;


}

/* padding-left: 23px; */
.fa-chevron-down{
    margin-left: 230px;
    /*padding: px;*/
    padding-right: 10px;
}
.vendor{
    height: 51px;
}
/*new purchase end*/
/*new item start*/
.category_and_brand{
    margin-left: 82px;
    /*font-size:18px;*/
    border:1px solid #a1a1a140;
}
.down1{
    margin-left: 200px;
}
.square_item,.square_brand{
    font-size: 30px;

    margin-left: 10px;
}
.down_brand{
    margin-left: 221px;
}
.category_item{
    height:100px;
}
.addnew_cate{
    margin-left: 200px;
    margin-top: 20px;
    /*height: 44px*/
}
.addnew_brand{
    margin-left: 228px;
    margin-top: 20px;
}
.cat_new{
    color:#ffffff;
    margin-right: 5px;
}
/*new item end*/
/*shipping start*/
.card{
    /*margin-left:20px;*/
    /*margin-top:20px;*/
}
.firstcard{
    margin-left:20px;
    margin-top:20px;
    border: 1px solid #707070;
}
.shipping,.deliveredshipping{
    margin-left: 70px;
    margin-top: 5px;
}
.notshippedpackese,.shippedpackese,.deliveredpackese{
    /*background-color:#CFD6E1;*/
    color:black;
    background-color: #CFD6E1;


    /*margin-top: 20;*/
    padding: 5px
}
.shippingmore{
    color:black;
}
.art{
    height:200px;
}
.card_content{
    margin-top:40px;
}
.shippedpackese{
    background-color: #DEE896;
}
.deliveredpackese{
    background-color: #CFE1D2;
}

.deliveredshipping {
    margin-left: 90px;


}

/*shipping end*/

.brand{
    margin-left:210px;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}

